{% extends 'AdminMainBundle::layout.html.twig' %}

{% block action %}
    {{ backActionButton(path('adm_layout_widgets', {'idZone': idZone}), 'List Widgets') }}
    {{ createActionButton(path('adm_layout_create', {'id-zone': idZone}), 'Create Box') }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('adm_layout_zone') }}">{{ 'Layout' | trans }}</a></li>
    {% if idWidget > 0 %}
    <li><a href="{{ path('adm_layout_widgets', { idZone: idZone }) }}">{{ entity.zone.title }}</a></li>
    {% endif %}
    <li><strong>{{ entity.title | default('Create Box') }}</strong></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ title | trans }}</h5>
        </div>
        <div class="ibox-content">

            {% include 'AdminMainBundle:Partials:flash-messages.html.twig' %}

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_row(form.title) }}
                {{ form_row(form.form) }}
                {{ form_row(form.status) }}
                {{ form_row(form.priority) }}

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="bg-info" style="padding: 10px;">{{ 'Box specific form' }}</div>
                    </div>
                </div>

                {{ form_widget(form.box_data) }}

                <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-2">
                        <input type="submit" class="btn btn-success" value="{{ 'Save' | trans }}">
                    </div>
                </div>

            {{ form_end(form) }}

        </div>
    </div>

    {% if entity.id > 0 %}
        {% include 'AdminMainBundle:Files:files.html.twig' %}
    {% endif %}

{% endblock %}

{% block css %}
    {{ parent() }}
    {% include 'AdminMainBundle:Files:upload.css.html.twig' %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var urlAttachedImages = "{{ path('adm_layout_upload', {idWidget: 0 + entity.id}) }}";
        var urlImageRemove = "{{ path('adm_widget_attached_remove') }}";
        var urlImageRename = "{{ path('adm_widget_image_rename') }}";
    </script>
    {% include 'AdminMainBundle:Files:tinymce-config.html.twig' %}
    {% include 'AdminMainBundle:Files:upload.js.twig' %}
{% endblock %}
