{% extends 'AdminMainBundle::layout.html.twig' %}

{% if entity is defined and entity.id > 0 %}
    {% set title = 'Edit Url' | trans %}
    {% set page_title = title ~ ' (' ~ entity.id ~ ')' %}
{% else %}
    {% set title = 'Add Url' | trans %}
    {% set page_title = title %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('adm_urls') }}">{{ 'Urls' | trans }}</a></li>
    <li><strong>{{ page_title }}</strong></li>
{% endblock %}

{% block action %}
    {{ backActionButton(path('adm_urls'), 'List Urls' | trans) }}
    {% if entity.id > 0 %}
        {{ removeActionButton('#', 'Remove Url' | trans, { class: 'remove-object', id: 'remove-' ~ entity.id }) }}
        {{ createActionButton(path('adm_urls_new'), 'Add Url' | trans) }}
    {% else %}
    {% endif %}
{% endblock %}

{% block body -%}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ title | trans }}</h5>
        </div>
        <div class="ibox-content">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_widget(form) }}

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" class="btn btn-success" value="{{ 'Save' | trans }}">
                    </div>
                </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
