{% extends 'AdminMainBundle::layout.html.twig' %}

{% set title = 'Urls' %}

{% block action %}
    {{ createActionButton(path('adm_urls_new'), 'Add New Url' | trans) }}
{% endblock %}

{% block body -%}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ title | trans }}</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th width="180">{{ 'Actions' | trans }}</th>
                    <th width="50">{{ 'Id' | trans }}</th>
                    <th>{{ 'Title' | trans }}</th>
                    <th>{{ 'Article' | trans }}</th>
                    <th width="120">{{ 'Status' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr id="row-{{ entity.id }}">
                        <td>
                            {{ editTableButton(path('adm_urls_edit', {id: entity.id}), 'Edit' | trans) }}
                            {{ removeTableButton('#', 'Delete' | trans, { id: 'remove-' ~ entity.id, class: 'remove-object' }) }}
                        </td>
                        <td>{{ entity.id }}</td>
                        <td><a href="{{ path('adm_urls_edit', { 'id': entity.id }) }}">{{ entity.urlContent }}</a></td>
                        <td><a href="{{ path('adm_articles_edit', { 'id': entity.article.id }) }}">{{ entity.article }}</a></td>
                        <td>{{ entity.status | status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
